
<div class="results-block">
 <%= build_bootstrap_flash %>
</div>
<% if @stock %>
    <div class="card  results-block">
        <strong>Symbol: </strong> <%= @stock.ticker %>
        <strong>Name: </strong> <%= @stock.name %>
        <strong>Price: </strong> <%= @stock.last_price %>
    </div>
<% end %>